
p{
    
    background: content-box radial-gradient(blue, skyblue);
    
    color:powderblue;
    text-shadow: black 1px 0 10px;
}

h1{
    
    color:aqua;
    text-shadow: navy 1px 0 10px;
}
h2{
    color:aqua;
    text-shadow: navy 1px 0 10px;
}
h3{
    color:aqua;
    text-shadow: navy 1px 0 10px;
}

