p{
    
    color:rgb(81, 174, 255);
    text-shadow: rgb(38, 229, 210) 1px 0 1px;
}

h1{
    
    color:rgb(63, 84, 243);
    text-shadow: aquamarine 10px 0 10px;
}
body {

    background: linear-gradient(125deg, #ffffff, #9df6fe, #72c7ff, #30a9ff, #1519ff);
    background-size: 500%;
    margin: 0;
    padding: 0;
    height: 140vh;
    animation: beAnimation 15s linear infinite;
}

@keyframes beAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
ul{
    color:rgb(0, 255, 157);
    text-shadow: aquamarine 10px 0 10px;
}
input{
    color:rgb(19, 31, 254);
}